
@{
    ViewData["Title"] = "Homework3";
}

<h1>Homework3 Register</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form id="userForm">
            <div class="mb-3">
                <label for="userName" class="form-label">姓名：</label>
                <input type="text" class="form-control" id="userName" name="Name">   @*寫 name="Name",裡面的name="xxx",xxx要和自己設的class DTO或是 class Member 的表格欄位名稱一樣 方便抓資料 *@
            </div>
            <div class="mb-3">
                <label for="UserEmail" class="form-label">電子郵件：</label>
                <input type="email" class="form-control" id="UserEmail" name="Email">  @*寫 name="Email" 方便抓資料 *@
            </div><div class="mb-3">
                <label for="UserPassword" class="form-label">密碼：</label>
                <input type="password" class="form-control" id="UserPassword" name="Password">  @*寫 name="Password" 方便抓資料 *@
            </div><div class="mb-3">
                <label for="UserSalt" class="form-label">確認密碼：</label>
                <input type="password" class="form-control" id="UserSalt" name="Salt">  @*寫 name="Salt" 方便抓資料 *@
                <div id="div2"></div>  @*顯示文字*@
            </div>
            <div class="mb-3">
                <label for="userAge" class="form-label">年紀：</label>
                <input type="number" class="form-control" id="userAge" name="Age"> @*寫 name="Age" 方便抓資料 *@
            </div>
            <div class="mb-3">
                <label for="userAvatar" class="form-label">頭像：</label>
                <input type="file" class="form-control" id="userAvatar" name="avatar">
            </div>

            <button id="button1" type="submit" class="btn btn-primary">送出</button>
        </form>

        <div class="alert alert-info mt-3" id="div1"></div>
    </div>
    <div class="col-3">
    </div>
</div>


@section Scripts{
    <script>

        const btn = document.querySelector("#button1");
        const theDiv = document.querySelector("#div1");
        const theForm = document.querySelector("#userForm");

        const theDiv2 = document.querySelector("#div2");
        const password = document.querySelector("#UserPassword");
        const confirmpassword = document.querySelector("#UserSalt");




        //方法--(2)  用FormData 物件讀取表單中使用者輸入的資料
        btn.addEventListener("click", async (event) => {
            event.preventDefault();   //防止submit送出的功能

            //透過FormData 物件讀取表單中使用者輸入的資料 __步驟(1),不用和方法1一樣 一筆一筆抓value
            const formData = new FormData(theForm);

            //將formData資料傳送到Server端 ,可以在view上顯示 __步驟(2)
            const Url = `@Url.Content("~/api/Homework3")`;
            const response = await fetch(Url, {
                method: "POST",  //新增method:POST ,不會是按鈕submit
                body: formData   //method是 POST 時，會有body,可以是FormData、json..

                
            });
            const data = await response.text();
            theDiv.innerHTML = data;


            //// __ 試跑console.log()看看
            // formData.append("city", "中壢");    ////新增資料進入formData
            // for (const pair of formData.entries()) {   ///讀取formData所有資料
            //     console.log(pair[0]);
            //     console.log(pair[1]);
            // }

        });


    </script>
}